body {
    background-color: #111111;
}
.container {
    margin-top: 100px;
}

.jumbotron {
    background-image: url(../img/background/sky.jpg);
    padding-top: 20px;
    padding-bottom: 20px;
}
.item-img {
    width: 150px;
    height: 150px;
}

.ITEM {
    border-radius: 50%;
}

#REVIEW {
    background-color: #ff0000;
}

#CODE {
    background-color: #ffff00;
}
#BLOG {
    background-color: #3fff38;
}
#SNS {
    background-color: #2aabd2;
}