body {
    background-image: url(../img/background/grid.jpg);
}
.container {
    margin-top: 100px;
}
.item-img {
    width: 150px;
    height: 150px;
}

/*#REVIEW {*/
    /*background-color: #FF9641;*/
/*}*/

/*#CODE {*/
    /*background-color: #000000;*/
/*}*/
/*#BLOG {*/
    /*background-color: #449d44;*/
/*}*/
/*#SNS {*/
    /*background-color: #2aabd2;*/
/*}*/