body {
    background-image: url(../img/background/grid.jpg);
}
.container {
    margin-top: 100px;
}
.item-img {
    width: 150px;
    height: 150px;
}

.ITEM {
    border-radius: 50%;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

#REVIEW {
    background-color: #ff0000;
}

#CODE {
    background-color: #ffff00;
}
#BLOG {
    background-color: #3fff38;
}
#SNS {
    background-color: #2aabd2;
}